body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.2rem;
}

.center-text {
  text-align: center;
}

.flex__align--center {
  gap: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin__right--md {
  margin-right: 1rem;
}

.margin__bottom--md {
  margin-bottom: 1rem;
}

.text-white {
  color: white;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.good-circle {
  background-color: green;
}

.bad-circle {
  background-color: red;
}

.full-width {
  max-width: 200px;
  width: 100%;
}